<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col width-100 style="text-align: center;">
    Choose your Login Method
    </ion-col>
  </ion-row>
  <ion-row>
    <button ion-button icon-left block color="facebook">
      <ion-icon name="logo-facebook"></ion-icon>
      Facebook
    </button>
  </ion-row>
  <ion-row>
    <button ion-button icon-left block color="twitter">
        <ion-icon name="logo-twitter"></ion-icon>
        Twitter
      </button>
  </ion-row>
  <ion-row>
      <button ion-button icon-left block color="google">
        <ion-icon name="logo-googleplus"></ion-icon>
        Google Plus
      </button>
  </ion-row>
  <ion-row>
    <ion-col width-50 style="text-align: right;">
      <button ion-button round color="danger" outline (click)="registerPage()">
        Register
      </button>
    </ion-col>
    <ion-col width-50 style="text-align: left;">
      <button ion-button round color="dark" outline (click)="signinPage()">
        Sign In
      </button>
    </ion-col>
  </ion-row>
  <ion-card *ngIf="userProfile">
    <img [src]="userProfile.photoURL"/>
    <ion-card-content>
      <ion-card-title>
        {{ userProfile.displayName }}
      </ion-card-title>
      <p>
        The UID for this new user is {{userProfile.uid}} and the email is {{userProfile.email}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
