page-register {
  .toolbar-background {
    background: #d7cccc; /* Old browsers */
    background: -moz-linear-gradient(left, #d7cccc 31%, #402020 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #d7cccc 31%,#402020 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #d7cccc 31%,#402020 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7cccc', endColorstr='#402020',GradientType=1 ); /* IE6-9 */
  }
}
